/* MOBILE */
@media screen and (max-width: 576px) {
    #aboutMe,
    #projects,
    #skills,
    #contact {
        display: none;
    }
    .navBar {
        display: flex;
    }
    #myName {
        width: auto;
        padding-top: 20px;
    }
    .navBar #linkedIn {
        align-items: flex-end;
        margin-left: 175px;
    }
    .aboutMe p {
        padding: 10px;
    }
    .p1,
    .p2,
    .p3,
    .p4 {
        justify-self: center;
    }
    .p1,
    .p2,
    .p3,
    .p4 {
        background-color: green;
        width: 100%;
    }
    .skills {
        width: auto;
    }
    .icons {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
    }
    .html,
    .css,
    .js,
    .jquery,
    .python,
    .premiere,
    .ps,
    .epic {
        align-self: center;
        justify-self: center;
    }
    .icons.html {
        grid-column: 1 / 2;
    }
    .icons.css {
        grid-column: 2 / 3;
    }
}

@media screen and (min-width: 576px) {
    #contactMobile,
    #linkedIn,
    #hamburgerIcon {
        visibility: hidden;
    }
    #aboutMe,
    #projects,
    #skills,
    #contact {
        display: inline-flex;
        justify-content: flex-end;
        position: top;
    }
}

/* TABLET */
@media screen and (max-width: 768px) {
  
}

/* DESKTOP */
@media screen and (max-width: 1200px) {
   
}