body {
    padding: 50px;
}

ul {
    list-style-type: none;
}

#linkedIn,
#hamburgerIcon {
    max-width: 50px;
    max-height: 50px;
}

/* nav.container {
    display: flex;
    justify-content: space-between;
}

nav.container ul li {
    display: inline-block;
} */

h2 {
    text-align: center;
}

.aboutMe p {
    text-align: center;
}

div.skills img {
    display: flex;
    justify-content: center;
    height: 125px;
    width: 125px;
}