body {
    padding: 50px;
    background-color: rgb(67, 79, 114);
    font-family: 'Radio Canada', sans-serif;
}

.aboutMe img {
    border-radius: 50%;
    max-width: 350px;
    max-height: 350px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#linkedIn,
#bottomLinkedIn,
#hamburgerIcon,
#gitHub {
    max-width: 50px;
    max-height: 50px;
}

h2 {
    text-align: center;
}

.aboutMe p {
    text-align: center;
}

div.skills img {
    display: flex;
    justify-content: center;
    height: 125px;
    width: 125px;
}