body {
    padding: 50px;
}

ul {
    list-style-type: none;
}

/* #contactMobile {
    font-size: 50px;
} */

#myName {
    white-space: nowrap;
}

#linkedIn,
#hamburgerIcon {
    max-width: 50px;
    max-height: 50px;
}

h2 {
    text-align: center;
}

.aboutMe p {
    text-align: center;
}

div.skills img {
    display: flex;
    justify-content: center;
    height: 125px;
    width: 125px;
}